/* 
Make the detail panel sticky, so you don't have to scroll back up to see it.
If anyone has a better way to do this, let me know.
*/
.react_tabs__tab_list {
	height: 38px;
}
.react-tabs {
	min-height: 100%;
}
.sticky-wrapper-wrapper {
	min-height: 100%;
}
.sticky-wrapper {
	height: 100%;
	position: absolute;
}
.sticky-panel {
    position: sticky;
    top: 10px;
    width: 100%;
    max-height: calc(100vh - 38px); /* 38px for navs, 20px for body margin-top */
    overflow: auto;
}